<div class="container">
  <!-- navbar -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 200px" src="https://www.clapcreative.com/images/2018/07/Ruby-on-rails-Banner.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% @navbars.each do |navbar| %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%=navbar.url %>"><%=navbar.label %></a>
          </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><a class="dropdown-item" href="#">Contact</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Form</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

<!-- Media object -->
<div class="d-flex">
  <!-- Image -->
  <%= link_to image_tag(@post.image, style:"width: 120px; height: 120px; margin: 10px;", class:"media-object", alt:"@posts.title"), @post.image %>
  <!-- Body -->
  <div>
    <h5 class="fw-bold">
      <%= @post.title %>
    </h5>
    <p>
      <%= @post.content %>
    </p>
  </div>
</div>

<h2 class="display-6">Lista de Productos</h2>
<div class="card-group">
  <% @products.each do |product| %>
  <div class="card" style="width: 18rem;">
    <img <%= link_to image_tag(product.image, style:"width:200px; heigth:200px", class:"card-img-top"), product.image %>
    <div class="card-body">
      <h5 class="card-title"><%=product.title %></h5>
      <p class="col-2 text-truncate"><%=product.description %></p>
      <a href="#" class=" btn btn-primary">Ver más...</a>
    </div>
  </div>
  <% end %>
</div>

</div>
