<h1>Lista de Url</h1>

<table class="table table-dark table-striped-columns">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Label</th>
      <th scope="col">URl</th>
      <th colspan="3" scope="col">Accion</th>
    </tr>
  </thead>

  <tbody>
    <% @navbars.each do |navbar| %>
      <tr>
        <td scope="row"><%= navbar.id %></td>
        <td scope="row"><%= navbar.label %></td>
        <td scope="row"><%= navbar.url %></td>
        <td scope="row"><%= link_to "Show", navbar %></td>
        <td scope="row"><%= link_to "Edit", edit_navbar_path(navbar) %></td>
        <td scope="row"><%= link_to "Destroy", navbar, data: { turbo_method: :delete, turbo_confirm: "Estas seguro?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to  "Agregar nuevo posts", new_navbar_path %>
