%div.container-fluid
%h1 lista de productos

%table.table.table-dark.table-striped-columns
  %thead
    %tr
      %th Image
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to image_tag(product.image, style:"width:50px; heigth:50px"), product.image
        %td= product.title
        %td= product.description
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%button.btn.btn-success= link_to 'New Product', new_product_path
